<%- include('partial/header') -%>

<h1>Compose</h1>

<form class="" action="/compose" method="post">

  <label for="">Title</label>
  <input class='form-control' type="text" name="title" value='' placeholder=''> <br>

  <label for="">Post</label>
  <textarea class='form-control' type="text" rows='4' name="story" value=""></textarea> <br>
  <button class='btn btn-primary' type="submit" name="button">Publish</button>
</form>






<%- include('partial/footer') -%>
